@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;800&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}
body{
    background: linear-gradient(110deg, black 60%, #060606 60%);
}

nav img{
    margin: 0 100px;
    height: 140px;
}
a{
    text-decoration: none;
}

ul{
    text-align: center;
    list-style: none;
    font-size: 25px;
    font-style:oblique;
    
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    text-align: center;


}
.nav-links{
    display: flex;
    align-items:center;
}
.mobile-menu{
    margin-top: 0px;
}
.nav-links li{
    margin: 0 20px;
}
header{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,rgba(0,0,0, 0), rgba(0,0,0, 100)),url("../image/buzzastral1.jpg");
    -webkit-background-size: cover;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content:baseline;
    
}
.header-content{
    margin-left: 40px;
    margin-bottom: 100px;
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-style:oblique;
    
}
.line{
    width: 200px;
    height: 4px;
    background: blanchedalmond;
    border-radius: 5px;
}
.login{
    padding: 10px 20px;
    background: #606c38;
    border-radius: 15px;
    color: whitesmoke;
    font-size: 25px;
    cursor: pointer;
    width: 140px;
}
.login:hover{
    background: darkkhaki;
}
.buy{
    padding: 15px 35px;
    background: olive;
    border-radius: 15px;
    color: whitesmoke;
    font-size: 20;
}
.buy:hover{
    background: darkkhaki;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* Repertuar */
section{
    width: 65%;
    margin: 80px auto;
}
.title{
    
    font-size: 4vmin;
    color: whitesmoke;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: whitesmoke;
    position: relative;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.col img{
    opacity: 1;
}
.col img:hover{
    opacity: .3;
}
.button {
    position: absolute;
    width: 180px;
    left:auto;
    top:50%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}
.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}
.col:hover .button {
    opacity: 1;
}

/* Mobile */
@media only screen and (max-width:850px) {
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: darkcyan;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin: 30px auto;
    }
    .row{
        display: grid;
        width: 100%;
    }
}

/* Footer */
.footer{
    position:absolute;
    width: 100%;
    margin-bottom: 0;
    right: 0;
    z-index: 1000;
    
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #432f2f;

}
.social-media{
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    text-align: center;
}
.social-media a{
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}
.authors{
    text-align: center;
    padding-top: 2rem;
    margin-top: 3rem;
    border-top: 0.1rem solid #edf0f1;
    font-size: 12px;
    color: #edf0f1;
}

.about{
    width: 75%;
    margin: 250px auto;
}
.about-title{
    text-align: center;
    align-items: center;
    width: 100%;
    color: whitesmoke;    
}
.about-col{
    max-width: 550px;
}
.about-img{
    max-width:100%;
    border-radius: 3%;
    margin-top: 70px;
}
.about p{
    font-size: 17px;
}
.about h1{
    font-size: 50px;
    font-style: italic;
}

.about-row .about-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
blockquote {
    quotes: "“" "”" "‘" "’";
    margin-top: 40px;
    font-size: 30px;
    align-items: center;
    font-style:inherit;
}
.about-col-solo{
    width: 50%;
    align-items: center;
    margin: auto auto;
}
.about-col-duo{
    width: 50%;
    margin-top: 20px;
}
.mapouter{
    margin-top: 60px;
}
.contact-info p{
    font-size: 20px;
}
.contact-info h2{
    font-size: 35px;
    margin-top: 40px;
}
.login-form, .signup-form{
   width: 300px;
   padding: 40px;
   position: flex;
   margin-top: 250px;
   top: 50%;
   left: 50%;
   color: whitesmoke;
   text-align: center; 
   border: 2px solid #3498db;
   border-radius: 24px;
}
.login-form input[type="text"], .login-form input[type="password"],.signup-form input[type="text"], .signup-form input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    border-radius: 24px;
    color: whitesmoke;
}
.login-form button, .signup-form button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.login-form .login-signup, .signup-form .login-signup{
    font-size: 27px;
    font-style: italic;
    text-decoration: underline;
}